<mat-card class="card-roupa" appearance="outlined">
  <img mat-card-image src="https://img.lojasrenner.com.br/item/929566214/original/13.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Calça Pantalona bege | Ashua
    </p>
    <div class="card-bottom">
      <h3>R$ 35,90</h3>
      <div>
        <button matIconButton>
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button matIconButton>
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>