<div class="content-container">
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
    <mat-grid-tile><app-card-roupa-component></app-card-roupa-component></mat-grid-tile>
  </mat-grid-list>
</div>