.content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 10px;
}