.content-container {
    width: 100%;
    padding: 30px 0;
    background-color: var(--mat-sys-primary-container);
}

// .titulo {
//     border-bottom: 1px solid var(--mat-sys-outline);
//     margin-top: 0;
//     padding-bottom: 20px;
//     color: var(--mat-sys-tertiary);
// }