<div class="content-container">
    <app-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
        <app-card-carrossel-component #itemCarrosel>
            <app-card-roupa-component></app-card-roupa-component>
        </app-card-carrossel-component>
    </app-carrossel-component>
</div>