// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./styles/_theme-colors.scss" as theme-colors;
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html {
  @include mat.theme((color: (theme-type: light,
         primary: theme-colors.$primary-palette,
         tertiary: theme-colors.$tertiary-palette,
          //primary: mat.$brown-palette,
          //tertiary: mat.$brown-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

.dark {
  @include mat.theme((color: (theme-type: dark,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 128px 0 0 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

@media (max-width: 600px) {
  body {
    padding: 108px 0 0 0;
  }
}

// botões dos slides de todo o site, pois são usados em vários componentes

.owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  margin: 0 !important;
}

.owl-prev,
.owl-next {
  pointer-events: auto;
  background: rgba(3, 3, 3, 0) !important;
  border-radius: 50% !important;
  border: none;
  color: var(--mat-sys-on-surface) !important;
  border-radius: 50%;
  font-size: 50px !important;
  padding: 0 !important;
  width: 32px;
  height: 32px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}